@charset "UTF-8";
/* :::: Zero out browser styles :::: */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, blockquote {
	padding: 0;
	margin: 0;
} h1, h2, h3, h4, h5, h6, pre, code {
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
} a {
	color: inherit;
	text-decoration: none;
} a img {
	border: none;
} ul, ol {
	list-style: none;
} table {
	border-spacing: 0;
	border-collapse: collapse;
}
/* :::: End zero out browser styles :::: */

html {
    font-size: 10px;
}
body {
    background: #ffffff;
    color: #222;
    font: 1.8rem/1.2 "Alegreya", Georgia, serif;
    text-align: center;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 5rem;
    line-height: 5rem;
}

h2 {
    font-size: 3.1rem;
    line-height: 3.7rem; 
}

h3 {
    font-size: 2.1rem;
    line-height: 2.7rem; 
}

#masthead, #content {
    width: 60rem;
    margin: 0 auto;
}

#masthead {
    margin-top: 25rem;
    margin-bottom: 2rem;
}

#masthead h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #222;
    text-decoration: none;
}

#content p {
    font-size: 2.2rem;
    line-height: 1.4;
}

.coming-soon {
    font-style: italic;
}
